*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: white; height: 100%; width: 100;
    margin: 0%;
    margin-bottom: 20px;
}

nav h2{
    color:black;
    margin-left: 30px;
    margin-top: 10px;
    }
nav h2 span {
    color: blue;
    }
    

nav ul{
    list-style-type: none;
    padding-top: 0%;
    margin-left: 800px;
    margin-bottom: 10px;
}
nav ul li{
    display: inline;
    padding: 10px;
    margin-bottom: 30px;
}
nav ul li a{
    margin-top: 0;
    color:black;
    text-decoration: none;
    padding: 0;
}
nav ul li a:hover{
    color:blue;
}
nav ul span a {
    background-color: blue;
    color:white;
    margin-left: 40px;
    padding: 10px;
    text-decoration: none;
    flex-direction:row;
}


header {
    display: flex;
}
header #div1{
    margin-left:90px; 
    padding:10px;  
   flex-direction: column;
}
header #div1 h1{
    color: black;
    
}
header #div1 h1 span {
  margin-right:  10px;
}
header #div1 p{
    padding: 10px;
    margin: 0;
}
header #div1 a{
    background-color: blue;
    color:white;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
}
header #div2 img{
width: 75%;
padding-top: 30px;
margin-left: 60px;
}
.C0 {
    text-align: center;
}
.container  {
    display: flex;
    text-align: center;
    margin-left: 200px;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 10px;
    font-size: small;
}
.container i{
    border-radius: 50px;
    background-color: blue;
    width: 20px;
    height: 20px;
    color: white;
    padding: 10px;
}
.container #s {
    padding: 20px;
    background-color:  rgb(220, 215, 215);
    margin-right: 20px;
    font-size: small;
}

.container #t {
    padding: 20px;
    background-color: rgb(220, 215, 215);
    margin-right: 20px;
}
.container #u {
    padding: 10px;
    background-color:  rgb(220, 215, 215);
    margin-right: 20px;
}

.register {
    display: flex;
    padding: 10px;
    padding: 20px;
    background-color: rgb(248, 248, 248)
}
.register #lab img {
    width:500px ;
    height:300px;
    margin-right: 30px;
    background-color: rgb(245, 240, 240)

}
.register #info{
    margin-left: 40px;
    padding: 40px;
}
.register #info h2 {
    color: blue;
    display: flex;
}
.register #info a{
    background-color: blue;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px;
}
.customer {
    padding: 20px;
    background-color: white;
    display: flex
}
.customer #head h2 {
    color: blue;
}
.customer #in{
    text-align: center;
    margin-top: 100px;
}
.customer #in img{
    width: 90px;
    height: 80px;
    border-radius: 50px;
}


#services {
    background-color: rgba(238, 238, 248, 523);
    padding: 30px;
 
}
#services .head{
    text-align: center;
    margin-top: 10px;
}
#services .para{
    text-align: center;
    margin-top: 10px;
}
#services #sectors{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

#services #sectors .cardio{
    background: #fff;
    padding: 20px;
    width: 200px;
    margin-right: 20px;
}
#services #sectors .cardio i{
    font-size: 30px;
    color: white;
    background: blue;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 70px;
}
#services #sectors .cardio h4{
    margin-bottom: 20px;
    text-align: center;
}
#services #sectors .teeth{
    background: #fff;
    padding: 20px;
    width: 200px;
    margin-right: 20px;
}
#services #sectors .teeth i{
    font-size: 30px;
    color: white;
    background: blue;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 70px;
}
#services #sectors .teeth h4{
    margin-bottom: 20px;
    text-align: center;
}

#services #sectors .lungs{
    background: #fff;
    padding: 20px;
    width: 200px;
    margin-right: 20px;
}
#services #sectors .lungs i{
    font-size: 30px;
    color: white;
    background: blue;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 70px;
}
#services #sectors .teeth-2{
    background: #fff;
    padding: 20px;
    width: 200px;
    margin-right: 20px;
}
#services #sectors .teeth-2 h4{
    text-align: center;
}
#services #sectors .teeth-2 i{
    font-size: 30px;
    color: white;
    background: blue;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 70px;
}

#subs{
    background: darkblue;
    border-radius: 8px;
    padding: 20px;
    margin-top:10px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
#subs img{
    width: 200px;
    height: 100px;
    border-radius: 50%;
}
#subs .subs-info{
    margin-left: 300px;
    color: #fff;
}
#subs .subs-info h1{
    margin-bottom: 20px;
}
#subs .subs-info a{
    background: lightgray;
    color: blue;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
#subs .subs-info a:hover{
   opacity: .8;
}

footer{
    background: rgb(235, 234, 234);
    margin-top: 20px;
    padding: 20px;
}
#footer{
    display: flex;
}
footer .footer-info{
    margin-left: 50px;
    margin-right: 100px;
}
footer .footer-info h1{
    margin-bottom: 10px;
    text-decoration: underline;
}
footer ul{
    margin-left: 60px;
    margin-top: 40px;
    list-style-type: none;
}
footer ul h4{
    margin-bottom: 10px;
    color: darkblue;
    text-decoration: underline;
}
footer ul li{
    margin-bottom: 10px;
}
footer ul li a{
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
}
footer ul li a:hover{
    color: blue;
    border-bottom: 1px solid blue;
}
footer .footer-para{
    text-align: center;
    margin-top: 20px;
    color: blue;
}
