
h2{
color:blue;
margin-left: 40px;
margin-top: 10px;
}

nav{
    background-color: white; height: 100%; width: 100;
}

nav ul{
    list-style-type: none;
    padding-top: 0%;
    margin-left: 800px;
}
nav ul li{
    display: inline;
    padding: 10px;
}
nav ul li a{
    margin-top: 0;
    color:black;
    text-decoration: none;
    padding: 0;
}
nav ul li a:hover{
    color:blue;
}

header {
    display: flex;
}
header #div1{
    margin-left:105px;   
}
header #div1 h2{
    margin-left: 70px;
    color: black;
}
header #div1 p{
    margin-left: 10px;
}
header #div1 a{
    background-color: blue;
    color:white;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
}
header #div2 img{
width: 80%;
padding-top: 30px;
margin-left: 60px;

}

