
nav{
    background-color: white; height: 100%; width: 100;
    margin: 0%;
}

nav h2{
    color:black;
    margin-left: 30px;
    margin-top: 10px;
    }
nav h2 span {
    color: blue;
    }
    

nav ul{
    list-style-type: none;
    padding-top: 0%;
    margin-left: 700px;
  margin-block-start: 0%;
}
nav ul li{
    display: inline;
    padding: 10px;
}
nav ul li a{
    margin-top: 0;
    color:black;
    text-decoration: none;
    padding: 0;
}
nav ul li a:hover{
    color:blue;
}
nav ul span a {
    background-color: blue;
    color:white;
    margin-left: 40px;
    padding: 10px;
    text-decoration: none;
    flex-direction:row;
}


header {
    display: flex;
}
header #div1{
    margin-left:90px; 
    padding:10px;  
}
header #div1 h1{
    color: black;
    
}
header #div1 h1 span {
  margin-right:  10px;
}
header #div1 p{
    padding: 10px;
    margin: 0;
}
header #div1 a{
    background-color: blue;
    color:white;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
}
header #div2 img{
width: 80%;
padding-top: 30px;
margin-left: 60px;
}
.C0 {
    text-align: center;
}
.container  {
    display: flex;
    text-align: center;
    margin-left: 150px;
    flex-direction: row;
}
.container i{
    border-radius: 50px;
    background-color: blue;
    width: 20px;
    height: 20px;
    color: white;
    padding: 20px;
    display:inline-block

}
.container #s {
    padding-left: 20px;
    padding: 20px;
    background-color:  rgb(220, 215, 215);

}

.container #t {
    padding-left: 20px;
    padding: 20px;
    background-color: rgb(220, 215, 215);
    display: inline;   
}
.container #u {
    display: inline;
    padding: 20px;
    background-color:  rgb(220, 215, 215);
}

    


