body {
    background-color: rgb(205, 255, 196);
}
h1 {
    color: blue;
    background-color: aliceblue;
}
p {
    color: aqua;
    background-color:#fa8072;
    font-family: courier;
    font-size: 300%;
    border: 2px solid palevioletred;
    margin: 50px;
    padding: 30px;
}
